ul li{
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    color:#333;
    border-bottom: #e1e1e1 1px solid;
}

ul li span {
    float: left;
    margin-left: 12px;
}
.input {
    width: 80%;
    margin: 30px 10% 0 10%;
    height: 30px;
}